<h1>Todo</h1>

<div class="container">
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter at least 3 characters</div>
    <div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter valid Date</div>

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-control">
            <label>Description: </label>
            <input type="text" 
                #description="ngModel"
                [(ngModel)]="todo.description" 
                class="form-control" 
                name="description" 
                minlength="3"
                required>
        </fieldset>
        <fieldset class="form-control">
            <label>Target Date: </label>
            <input type="date" 
                #targetDate="ngModel"
                [ngModel]="todo.targetDate| date:'yyyy-MM-dd' " 
                (ngModelChange)="todo.targetDate = $event" 
                class="form-control" 
                name="targetDate" required>
        </fieldset>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>
